.intro_background {
    background-image: url(image/BG_Intro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gray_background {
    background-image: url(image/blackstreet200.png);
}

.nav_top {
    max-width: 1007px;
    overflow: hidden;
}

.nav {
    max-width: 998px;
    min-height: 34px;
    background-color: #2f2e2e;
    background: linear-gradient(#3f3e3e, #1f1e1e);
    border: 1.5px solid #bfb3b3;
    font-size: 24px;
    margin:-4px 0px 0px 0px;
}

.nav_button {
    /*background-color: #2f2e2e;*/
    text-decoration:none;
    font-size: 20px;
    color: #e4e1e1;
    margin:0px 0px 0px 30px;

    transition: all 0.5s;
    cursor: pointer;
}   

.flex-container {
  display: flex;
  justify-content: center;
}

.td_style {
    width: 900px;
    height: 400px;
} 

.btn_style {
    width: 300px;
    height: 300px;
} 

.imageGrow {
    width: 400px;
    height: 400px;
} 

.style1 {
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 24px;
    background-size: cover;
    height: 36px;
}

.style2 {
    font-family: "微軟正黑體";
    font-size: 22px;
}
        
.style3 {
    margin:15px 0px 15px 0px;
    font-size: 18px;
    font-family: "微軟正黑體";
}
        
.style4 {
    font-size: 18px;
    color: #CCCCCC
}

.container_center_outside { 
    text-align: center; 
}

.container_center {
    vertical-align: middle; 
}

.center {
    margin: 0 auto 0 auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

section {
    display: block;
    height: 200px;
}

.label {
    color: #fff;
}

.input {
    margin: 20px 0;
}

.image {
    height: 100px;
}

.copyright {
    margin: 15px auto 15px auto;
}

.bg-gray {
    background-color: #444c52!important;
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen{
    /* For mobile devices: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
